<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route frontName="typesense_products" id="typesense_products">
            <module name="Monogo_TypesenseCatalogProducts"/>
        </route>
    </router>
</config>
